go 1.20

use (
	package/core
	package/common/config
    package/technique/mongo
    package/technique/logfx
    package/technique/echofx
    template/module-echo
    template/project-echo
	example
	.
	package/technique/validate


)
